* {
    margin: 0;
    padding: 0;
}
header{
    font-family:"Helvetica"
}

#topbar{
    background-color: #bee9b8;
    width: 100%;

}

header h1{
    font-family: "Helvetica";
    text-align: center;
    padding-top: 30px;
    letter-spacing: 3pt;
    font-size: 40pt;
    color: rgb(63, 120, 88);
}
nav ul{
    list-style:none;
    display:flex;
}

nav ul a:link{
    flex-grow:1;
    text-align:center;
    font-family:"Helvetica";
    color:black;
    text-decoration:none;
    padding:10pt;

}
footer{
    display: flex;
    justify-content: right;
    align-items: right;
    font-family:"Helvetica";
    color:black;
    text-decoration:none;
    padding:10pt;
}

#socialMedia img{
    width : 25px;
    height : 25px;
    margin : 10px;
}
nav img{
    width : 25px;
    height : 25px;
}

nav ul input[type=text]{
    background-color: rgba(229, 229, 229, 0.776);
    margin: 0px;
    margin-left: 50px;
    border:none;
    border-radius: 5px;
    font-size: 17px;
    height: 40px;
    width: 40%;
    padding: 2px 23px 2px 30px;
    outline: 0;
}

body{
    text-align:center;
    margin:0 auto;
    font-family: Helvetica;
    font-weight: lighter;
    letter-spacing:1px;
    padding-bottom: 20pt;
}

.content{
    font-size:larger;
    padding: 10px;
}
.content input{

    border:rgba(128, 128, 128, 0.616)
}

.button{
    background-color: #8bdb8e88;
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius:5px
}

.content input{ 
    background-color: rgba(128, 128, 128, 0.248);  
    border-radius: 5px; 
    height: 20px;
    padding: 20px;
}
