body{
    background-image:url("./culture.png") ;
    background-size:cover ;
    padding-left:30pt ;
    padding-right: 30pt;
    padding-top: 10;
}

.ABOUTUS{
    /*color:whitesmoke;*/
    font-family:"Helvetica";
    line-height: 14pt;
    font-weight: lighter;
    letter-spacing:1px;
}
.Mission{
    /*color:whitesmoke;*/
    font-family:"Helvetica";
    line-height: 14pt;
    font-weight: lighter;
    letter-spacing:1px;
}
.Members{
    /*color:whitesmoke;*/
    font-family:"Helvetica";
    line-height: 14pt;
    font-weight: lighter;
    letter-spacing:1px;
}
.text{
    background-color: #f5f5f5d8;
    padding:20pt
}

header{
    font-family:"Helvetica"
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul a:link{
    flex-grow:1;
    text-align:center;
    font-family:"Helvetica";
    color:black;
    text-decoration:none;
    padding:10pt;

}

nav ul input[type=text]{
    background-color: rgba(229, 229, 229, 0.776);
    margin: 0px;;
    border:none;
    border-radius: 5px;
    font-size: 17px;
    height: 40px;
    width: 40%;
    padding: 2px 23px 2px 30px;
    outline: 0;
}

footer{
    display: flex;
    justify-content: right;
    align-items: right;
    font-family:"Helvetica";
    color:black;
    text-decoration:none;
    padding:10pt;
}

#socialMedia img{
    width : 25px;
    height : 25px;
    margin : 10px;
}

nav img{
    width : 25px;
    height : 25px;
}

nav ul input[type=text]{
    background-color: rgba(229, 229, 229, 0.776);
    margin: 0px;;
    border:none;
    border-radius: 5px;
    font-size: 17px;
    height: 40px;
    width: 40%;
    padding: 2px 23px 2px 30px;
    outline: 0;
}
